.button {
  color: $black;
  padding: 10px;
  margin: 0 10px;
  font-weight: 600;
  background: lighten($black, 90);

  &[disabled] {
    color: lighten($black, 60);
    background: lighten($black, 97) !important;
  }

  &.save:hover {
    background: lighten($blue, 28);
  }

  &.cancel:hover {
    background: lighten($yellow, 28);
  }
}
